---
import MainLayout from '@/layouts/MainLayout.astro'
import { BaseWPSchema } from "@/types/index.types"
import BlogPosts from '@/components/blog/BlogPosts.astro';

const url = `${import.meta.env.WP_API_URL_SLUG}blog`;
const res = await fetch(url);
const json = await res.json();
const {data} = BaseWPSchema.safeParse(json[0]);
---

<MainLayout
  bgImage={data?.featured_images.full.url!}
  tagLine={data?.acf.subtitle!}
  title={data?.title.rendered!}
>
  <div class="text-xl space-y-3 mt-10 lg:mt-0" set:html={data?.content.rendered}></div>

  <BlogPosts />
</div>
</MainLayout>
