---
import MainLayout from '@/layouts/MainLayout.astro'
import bg from '@/assets/bg_home.jpg'
---

<MainLayout title="Inicio" bgImage={bg.src}>
  <h1 class="text-4xl font-black text-purple-700">Astro</h1>
</MainLayout>
