---
import { ClientRouter } from 'astro:transitions'
import Header from '@/components/ui/Header.astro'
import Footer from '@/components/ui/Footer.astro'
import '@/styles/global.css'

interface Props {
  title: string
  bgImage: string
  tagLine: string
}

const { title, bgImage, tagLine } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Cafeteria desde 1939 | {title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Sans:wght@400;700&display=swap"
    rel="stylesheet"
    />
  </head>

  <body class="bg-slate-100 text-slate-900">
    <ClientRouter />
    <Header
      bgImage={bgImage}
      tagLine={tagLine}
    />
    <main
      class="bg-white p-5 lg:p-14 2xl:p-20 max-w-6xl 2xl:max-w-7xl mx-auto -mt-10 lg:-mt-14 2xl:-mt-20 shadow-md relative"
    >
      <h2 class="text-c-coffee-900 font-black text-center text-4xl pb-10 uppercase after:coffee-icon">{title}</h2>
      <slot />
    </main>

    <slot name="after-main-content" />
    <Footer />
  </body>
</html>
